.sidebar {
    position: absolute;
    top: 220px;
    width: 250px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    padding-top: 20px;
}

.content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
}

.sidebar {
    padding-left: 5px;
}

.card > p {
    margin: 10px;
    text-align: right;
}
.col-md-4{
    padding: 10px;
}
